{
  "plugins": [ "transform-object-rest-spread"],
  "env": {
    "development": {
      "presets": ["react", "env"]
    },
    "production": {
      "presets": [
        "react",
        [
          "env",
          {
            "modules": false,
            "browsers": ["last 2 versions", "ie >= 11"]
          }
        ]
      ]
    }
  }
}