.article {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.title {
  margin-left: 50px;
}
@media screen and (max-width: 768px) {
  .article {
    margin-top: 40px;
    display: block;
  }

  .title {
    margin-left: 0px;
  }
}